################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWS_using_DotNet/.vs/AWS_using_DotNet.slnx
/AWS_using_DotNet/DynamoDb/CustomerApi_using_DynamoDb/.vs
/AWS_using_DotNet/DynamoDb/CustomerApi_using_DynamoDb/CustomerApi_using_DynamoDb/bin/Debug/net10.0
/AWS_using_DotNet/DynamoDb/CustomerApi_using_DynamoDb/CustomerApi_using_DynamoDb/obj
/AWS_using_DotNet/DynamoDb/CustomerApi_using_DynamoDb/CustomerApi_using_DynamoDb/CustomerApi_using_DynamoDb.csproj.user
/AWS_using_DotNet/Lambda/AWSLambdaFun/.vs
/AWS_using_DotNet/Lambda/AWSLambdaFun/bin
/AWS_using_DotNet/Lambda/AWSLambdaFun/obj
/AWS_using_DotNet/Lambda/REST_Api_Lambda/.vs
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers/bin
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers/obj
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers/Speakers.csproj.user
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers_Lambda/src/Speakers_Lambda/bin
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers_Lambda/src/Speakers_Lambda/obj
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers_MinimalLambda/src/Speakers_MinimalLambda/bin
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers_MinimalLambda/src/Speakers_MinimalLambda/obj
/AWS_using_DotNet/Lambda/REST_Api_Lambda/Speakers_MinimalLambda/src/Speakers_MinimalLambda/Speakers_MinimalLambda.csproj.user
/AWS_using_DotNet/SQS/Consumer/bin/Debug/net10.0
/AWS_using_DotNet/SQS/Consumer/obj
/AWS_using_DotNet/SQS/Messages/bin/Debug/net9.0
/AWS_using_DotNet/SQS/Messages/obj
/AWS_using_DotNet/SQS/Publisher/obj
/AWS_using_DotNet/SQS/Publisher/bin/Debug/net10.0
/AWS_using_DotNet/.vs
/AWS_using_DotNet/SharedLayer/bin
/AWS_using_DotNet/SharedLayer/layer/bin/net8.0
/AWS_using_DotNet/SharedLayer/obj
/AWS_using_DotNet/SharedLayer/Properties/PublishProfiles
/AWS_using_DotNet/SharedLayer/layer.zip
*.user
